html {
  background: url(../images/birches.jpg) no-repeat center fixed;
  background-size: cover;
}


body {
  margin:0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  clear:both;
}

div,
li,
p,
h1,
h2,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  clear:both;
}

h3, ul {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#name {
  position: relative;
}

#main {
  padding-top: 150px;
  background-color: rgba(150, 151, 102, 0.6);
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.work {
  color: #f1f1f9;
}

.duty-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgba(251, 251, 247, 1.0);
  font-size: 9px;
  margin: 5px;
  padding: 5px 0;
  border-radius: 10px;
  border-width: 2px;
  min-height: 15px;
  max-height: auto;
  min-width: 50px;
  max-width: 310px;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.duty {
  margin: 0 10px;
  width: auto;
  background-color: rgba(251, 251, 247, 1.0);
  color: #332066;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filtered-in {
  font-size: 15px;
  background-color: rgba(255, 255, 158, 1.0);
  opacity: 1.0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hidden {
  opacity: 0;
  height: 0;
  min-width: 0;
  max-width: 0;
  max-height: 0;
  width: auto;
  font-size: 0;
  margin 0;
  padding 0;
}

/*.filtered-out {
  font-size: 6px;
  background-color: red;
}*/

h1 {
  font-size: 40px;
  color: rgba(255, 255, 158, 1.0);
  line-height: 48px;
  display: block;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #332066;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-weight: 500;
  padding: 0 5%;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  color: #000;
  font-style: italic;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  color: #000;
  font-style: italic;
}

h2, {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  display: flex;
  width: 100%;
}

.location-text {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #f1f1f1;
  line-height: 16px;
  float: right;
  width: 100%;
}

p {
  font-size: 14px;
  color: #332066;
  line-height: 21px;
  width: 100%;
}

a {
/*  color: #1199c3; */
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
}

.welcome-message {
  font-style: italic;
  font-weight: 200;
  color: #f3f3f3;
  line-height: 23px;
}

.skills-container {
  padding: 10px 0 10px 30px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  webkit-justify-content; center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  min-width: 481px;
}

#show-hide-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.show-hide-button {
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #332166;
  border-style: solid;
  border-radius: 80px;
  border-width: 2px;
  border-color: blue;
  background-color: rgba(251, 251, 209, 1.0);

  clear: none;
  max-height: 100%;
  max-width: 100%;
}

.skill {
  font-weight: 400;
  color: #332166;
  border-style: solid;
  border-radius: 80px;
  line-height: 45px;
  border-width: 2px;
  border-color: blue;
  background-color: rgba(251, 251, 209, 1.0);
}

.filtering {
  background-color: rgba(255, 255, 158, 1.0);
}

/* NOT USING
#skills-h3 {
  color: rgba(251, 251, 247, 1.0);
  display: none;
}*/

.orange {
  background-color: #ff9;
}

.orange-text {
  color: rgba(255, 255, 158, 1.0);
}

.white-text {
  font-weight: 400;
  color: #f3f3f3;
}

.entries {
  padding-bottom: 10px;
  clear: both;
}

.dark-blue {
  background-color: #332066;
}

#header {
  padding: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

ul {
  list-style-type: none;
}


.bio-container {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  flex-direction: row;
/*  width: 100%;*/
  width: 684px;
}

.biopic {
  height: 100%;
  float: left;
  margin: 0;
}

.name-message-container {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
  min-width: 231px;
  max-width: 285px;
}

.role {
  font-color: #555599;
}

.project-entry img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {

}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  }

/*  .bio-container {
    max-width: 250px;
  }*/
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  .biopic {
    display: block;
  }
}
