body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  clear:both;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.duty-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #ff9;
  font-size: 10px;
  margin: 5px;
  padding: 5px 0;
  border-radius: 10px;
  border-width: 2px;
  min-height: 15px;
  min-width: 50px;
  max-width: 310px;
  font-weight: 300;
}

.duty {
  margin: 0 10px;
  width: auto;
}

.filtered-in {
  font-size: 14px;
  height: 45px;
  /*using Red background for testing */
  background-color: #A00;
}

/*.filtered-out {
  font-size: 6px;
  background-color: red;
}*/

h1 {
  font-size: 40px;
  color: #ff9;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #333666;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-weight: 500;
  padding: 0 5%;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  color: #000;
  font-style: italic;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  color: #000;
  font-style: italic;
}

h2,
 {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  display: flex;
  width: 100%;
}

.location-text {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  width: 100%;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  width: 100%;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #ff9;
  display: none;
}

.orange {
  background-color: #ff9;
}

.orange-text {
  color: #ff9;
}

.white-text {
  font-weight: 400;
  color: #f3f3f3;
}

.entries {
  background-color: #fff;
  padding-bottom: 10px;
  clear:both;
}

.dark-blue {
  background-color: #333666;
}

/* TODO: Replace with image later */
#header {
  background-color: #333666;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 50px;
  /*display: none;*/
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 50px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
